argon2-cffi==19.1.0
bcrypt==3.1.6
bleach==1.5.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
colorama==0.4.1
Django==2.1.7
django-filter==1.1.0
djangorestframework==3.9.2
djangorestframework-filters==0.11.1
Faker==1.0.4
html5lib==0.9999999
httpie==1.0.2
idna==2.8
Pillow==5.4.1
pycparser==2.19
Pygments==2.3.1
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
requests==2.21.0
six==1.12.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
text-unidecode==1.2
urllib3==1.24.2
voluptuous==0.11.5
wincertstore==0.2
